<div class="relative bg-{{ .bg_color }}">
  <div class="absolute inset-0">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-ocre"></div>
  </div>
  <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
    <div class="bg-ocre py-8 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
      <div class="max-w-lg mx-auto">
        <h2 class="font-bold tracking-wider text-black text-3xl md:text-4xl lg:text-5xl">
          {{ .title }}
        </h2>
        
        <dl class="mt-8 text-base text-black">
          {{ if .address_toggle }}
          <div>
            <dt class="sr-only">Postal address</dt>
            <dd>
              <p>{{ .address1 }}</p>
              <p>{{ .address2 }}</p>
            </dd>
          </div>
          {{ end }}
          <div class="mt-6">
            <dt class="sr-only">Phone number</dt>
            <dd class="flex">
              <!-- Heroicon name: outline/phone -->
              <svg class="flex-shrink-0 h-6 w-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>
              <span class="ml-3 text-base md:text-xl tracking-wider">
                {{ .phone}}
              </span>
            </dd>
          </div>
          <div class="mt-3">
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              <!-- Heroicon name: outline/mail -->
              <svg class="flex-shrink-0 h-6 w-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              <span class="ml-3 text-base md:text-xl tracking-wider">
                  {{ .email }}
              </span>
            </dd>
          </div>
        </dl>
      </div>
      <div class="responsiveIframe shadow-lg mt-5 h-80">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.262406167212!2d-123.1028476843116!3d49.252472079328044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673fa54bbb0eb%3A0xa164c989d7a2a75a!2sCondesa%20Jewelry%20Expertise!5e0!3m2!1sen!2sca!4v1620071568680!5m2!1sen!2sca" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
        </div>
    </div>
    <div class="bg-white py-8 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <h2 class="font-bold tracking-wider text-black text-3xl md:text-4xl lg:text-5xl mb-8">
          Contact Us
        </h2>
        <p class="mb-6 text-{{ .align }} max-w-5xl mx-auto text-xl tracking-wider">{{ .desc }}</p>
        <form action="{{ .usebasin }}" method="POST" class="grid grid-cols-1 gap-y-6">
          <div class="grid grid-cols-12 md:gap-6">
                        <!-- First Name Field -->
                        <div class="field col-span-12 lg:col-span-6">
                            {{ if eq .form_bg_color "white" }}
                            <label for="form_first_name" class="font-bold text-white mb-3">First Name *</label>
                            {{ else }}
                            <label for="form_first_name" class="font-bold text-black mb-3">First Name *</label>
                            {{ end }}
                            <div class="my-2">
                                <input id="form_first_name" class="border py-2 px-3 text-grey-darkest w-full" placeholder="e.g Alex" type="text" name="first_name" required="required" data-error="First name is required." />
                            </div>
                        </div>

                        <!-- Last Name Field -->
                        <div class="field col-span-12 lg:col-span-6">
                            {{ if eq .form_bg_color "white" }}
                            <label for="form_last_name" class="font-bold text-white mb-3">Last Name *</label>
                            {{ else }}
                            <label for="form_last_name" class="font-bold text-black mb-3">Last Name *</label>
                            {{ end }}
                            <div class="my-2">
                                <input id="form_last_name" class="border py-2 px-3 text-grey-darkest w-full" placeholder="e.g Smith" type="text" name="last_name" required="required" data-error="Last name is required." />
                            </div>
                        </div>

                        <!-- Email Field -->
                        <div class="field col-span-12">
                            {{ if eq .form_bg_color "white" }}
                            <label class="font-bold mb-3 text-white" for="email">Email *</label>
                            {{ else }}
                            <label class="font-bold mb-3 text-black" for="email">Email *</label>
                            {{ end }}
                            <div class="my-2">
                                <input id="email" name="email" class="border py-2 px-3 text-grey-darkest w-full" type="email" placeholder="e.g. alexsmith@gmail.com" required="required" data-error="Valid email is required." />
                            </div>
                        </div>

    
          <div class="field col-span-12 lg:col-span-6">
            {{ if eq .form_bg_color "white" }}
            <label class="font-bold mb-3 text-white" for="phone">Phone Number *</label>
            {{ else }}
            <label class="font-bold mb-3 text-black" for="phone">Phone Number *</label>
            {{ end }}
            <div class="my-2">
              <input id="phone" name="phone" class="border py-2 px-3 text-grey-darkest w-full" required="required" type="tel" placeholder="e.g. +1-234-567-7890" />
            </div>
          </div>

          <div class="field col-span-12 lg:col-span-6">
            {{ if eq .form_bg_color "white" }}
            <label class="font-bold mb-3 text-white" for="topic">Topic</label>
            {{ else }}
            <label class="font-bold mb-3 text-black" for="topic">Topic</label>
            {{ end }}
            <div class="my-2">
              <select id="topic" name="Topic" class="w-full">
                <option value="Custom Piece">Custom Design Piece</option>
                <option value="Bridal">Bridal & Commitment</option>
                <option value="Special Items">Vintage or Special Items</option>
                <option value="Repair">Repair</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>

          <div class="field col-span-12">
            {{ if eq .form_bg_color "white" }}
            <label for="form_message" class="font-bold mb-3 text-white">Message *</label>
            {{ else }}
            <label for="form_message" class="font-bold mb-3 text-black">Message *</label>
            {{ end }}
            <div class="my-2">
            <textarea id="form_message" name="message" class="border py-2 px-3 text-grey-darkest w-full" rows="4" required
              data-error="Please,leave us a message."></textarea>
            </div>
          </div>
          </div>
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAAINa9ocIPaUmG4M" data-callback="javascriptCallback"></div>
          <div class="flex justify-center items-center">
            <input type="submit" class="cursor-pointer transition uppercase duration-500 w-auto mt-5 btn_primary text-base tracking-wider" value="{{ .cta }}">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
